.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    
  background-size: cover;
  background-position: center;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(244, 213, 4, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  width: 450px;

  @media only screen and (max-width: 320px) {
    width: 80vw;
    height: 90vh;
    hr {
      margin-bottom: 0.3rem;
    }
    h4 {
      font-size: small;
    }
  }
  @media only screen and (min-width: 360px) {
    width: 80vw;
    height: 90vh;
    h4 {
      font-size: small;
    }
  }
  @media only screen and (min-width: 411px) {
    width: 80vw;
    height: 90vh;
  }

  @media only screen and (min-width: 768px) {
    width: 80vw;
    height: 80vh;
  }
  @media only screen and (min-width: 1024px) {
    width: 70vw;
    height: 50vh;
  }
  @media only screen and (min-width: 1280px) {
    width: 30vw;
    height: 80vh;
  }
    padding: 0px 60px;
    border-radius: 10px;
}

h1{
    color: rgb(77, 1, 77);
    text-align: center;
}

button{
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  padding: 12px 30px;
  background-color:hsla(52,96%,49%,1);
  background-image:
  radial-gradient(at 32% 89%, hsla(50,84%,69%,1) 0px, transparent 50%),
  radial-gradient(at 93% 94%, hsla(72,69%,76%,1) 0px, transparent 50%),
  radial-gradient(at 92% 71%, hsla(31,99%,77%,1) 0px, transparent 50%);  
  color: #000;
  width: 200px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom:30px
}